{% extends 'base.html'%}

{% block titulo %}Alterar Cidade{% endblock %}

{% block body %}
<div id="content-data">
    <div style="display: flex; justify-content: center;">
        <h1 class="text-primary"><label>Alterar Cidade</label></h1>
    </div>
    <form method="post" action="">
      {% csrf_token %}
        <div class="mb-3">
          <label for="textNome" class="form-label text-primary">Nome</label>
          <input type="text" class="form-control" id="textNome" name="nome" placeholder="Informe seu Nome" value="{{ cidade.nome }}">
        </div>
        <div class="mb-3">
          <label for="textUf" class="form-label text-primary">Sigla</label>
          <select class="form-select" id="textUf" name="uf">
            <option value="0">Selecione</optlion>
            {% for ufs in all_uf %}
            {% if ufs.id == cidade.uf_id %}
              <option value="{{ ufs.id }}" selected>{{ ufs.nome }}</optlion>
            {% else %}
              <option value="{{ ufs.id }}">{{ ufs.nome }}</optlion>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Alterar" />
        <input class="btn btn-danger" type="reset" value="Cancel" />
      </form>
</div>
{% endblock %}