{% extends 'base.html'%}

{% block titulo %}Alterar Tipo de Pessoa{% endblock %}

{% block body %}
<div id="content-data">
    <div style="display: flex; justify-content: center;">
        <h1 class="text-primary"><label>Alterar Tipo de Pessoa</label></h1>
    </div>
    <form method="post" action="">
      {% csrf_token %}
        <div class="mb-3">
          <label for="textNome" class="form-label text-primary">Nome</label>
          <input type="text" class="form-control" id="textNome" name="nome" value="{{ tp_pessoa.nome }}">
        </div>
        <input class="btn btn-primary" type="submit" value="Alterar" />
        <input class="btn btn-danger" type="reset" value="Cancel" />
      </form>
</div>
{% endblock %}