{% extends 'base.html'%}

{% block titulo %}Alterar Clientes{% endblock %}

{% block body %}
<div id="content-data">
    <div style="display: flex; justify-content: center;">
        <h1 class="text-primary"><label>Alterar Clientes</label></h1>
    </div>
    <form method="post" action="">
      {% csrf_token %}
        <div class="mb-3">
          <label for="textNome" class="form-label text-primary">Nome</label>
          <input type="text" class="form-control" id="textNome" name="nome" placeholder="Informe seu Nome" value="{{ cliente.nome }}">
        </div>
        <div class="mb-3">
          <label for="textEmail" class="form-label text-primary">Email</label>
          <input type="email" class="form-control" id="textEmail" name="email" placeholder="nome@exemplo.com"  value="{{ cliente.email }}">
        </div>
        <div class="mb-3">
            <label for="textDataNasc" class="form-label text-primary">Data de Nascimento</label>
            <input type="datetime" class="form-control" id="textDataNasc" name="data_nasc" placeholder="00/00/0000" value="{{ format_date }}" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}">
        </div>
        <div class="mb-3">
            <label for="textCpfCnpj" class="form-label text-primary">CPF/CNPJ</label>
            <input type="text" class="form-control" id="textCpfCnpj" name="cpfcnpj" maxlength="11" value="{{ cliente.cpfcnpj}}">
        </div>
        <div class="mb-3">
          <label for="textCidade" class="form-label text-primary">Cidade</label>
          <select class="form-select" name="cidade" id="textCidade">
            {% for item in cidade_all %}
            {% if item.id == cidade_value.id %}
            <option value="{{ item.id }}" selected>{{ item.nome }}</option>
            {% else %}
            <option value="{{ item.id }}" >{{ item.nome }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="textGenero" class="form-label text-primary">Genero</label>
          <select class="form-select" name="genero" id="textGenero">
            {% if cliente.genero == 'M' %}
            <option value="M" selected>Masculino</option>
            <option value="F">Feminino</option>
            {% else %}
            <option value="M">Masculino</option>
            <option value="F" selected>Feminino</option>
            {% endif %}
          </select>
        </div>
        <div class="mb-3">
          <label for="textProfissao" class="form-label text-primary">Profissão</label>
          <input type="text" class="form-control" id="profissao" name="profissao" placeholder="Informe a Profissão" value="{{ cliente.profissao }}">
        </div>
        <div class="mb-3">
          <label for="textRenda" class="form-label text-primary">Renda</label>
          <input type="text" class="form-control" id="textRenda" name="renda" placeholder="00,00" value="{{ cliente.renda }}">
        </div>
        <div class="mb-3">
          <label for="textCarro" class="form-label text-primary">Tem Carro?</label>
          <select class="form-select" name="carro" id="textCarro">
            {% if cliente.carro == 'S' %}
            <option value="S" selected>Sim</option>
            <option value="N" >Não</option>
            {% else %}
            <option value="S">Sim</option>
            <option value="N" selected >Não</option>
            {% endif %}
          </select>
        </div>
        <div class="mb-3">
          <label for="textEstadoCivil" class="form-label text-primary">Estado Civil</label>
          <select class="form-select" name="estado_civil" id="textEstadoCivil">
            {% for item in estado_civil_all %}
            {% if item.id == estado_civil_value.id %}
            <option value="{{ item.id }}" selected>{{ item.descricao }}</option>
            {% else %}
            <option value="{{ item.id }}">{{ item.descricao }} </option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="textFilho" class="form-label text-primary">Tem Filho?</label>
          <select class="form-select" name="filho" id="textFilho">
            {% if cliente.filhos == 'S' %}
            <option value="S" selected>Sim</option>
            <option value="N" >Não</option>
            {% else %}
            <option value="S">Sim</option>
            <option value="N" selected >Não</option>
            {% endif %}
          </select>
        </div>
        <div style="margin-bottom: 2%;">
          <input class="btn btn-primary" type="submit" value="Alterar" />
          <input class="btn btn-danger" type="reset" value="Cancel" />
        </div>
      </form>
</div>
{% endblock %}