{% extends 'base.html'%}

{% block titulo %}Cadastro Clientes{% endblock %}

{% block body %}
<div style="display: flex; justify-content: center; flex-direction: column; margin-left: 20%; margin-right: 20%; margin-top: 1%; margin-bottom: 2%;">
    <div style="display: flex; justify-content: center;">
        <h1 class="text-primary"><label>Cadastro de Clientes</label></h1>
    </div>
    <form action="">
        <div class="mb-3">
          <label for="textNome" class="form-label text-primary">Nome</label>
          <input type="text" class="form-control" id="textNome" placeholder="Informe seu Nome">
        </div>
        <div class="mb-3">
          <label for="textEmail" class="form-label text-primary">Email</label>
          <input type="email" class="form-control" id="textEmail" placeholder="nome@exemplo.com">
        </div>
        <div class="mb-3">
            <label for="textDataNasc" class="form-label text-primary">Data de Nascimento</label>
            <input type="date" class="form-control" id="textDataNasc" placeholder="00/00/0000">
        </div>
        <div class="mb-3">
            <label for="textCpfCnpj" class="form-label text-primary">CPF/CNPJ</label>
            <input type="number" class="form-control" id="textCpfCnpj" placeholder="000.000.000-00">
        </div>
        <div class="mb-3">
          <label for="textCidade" class="form-label text-primary">Cidade</label>
          <select class="form-select" name="textCidade" id="textCidade">
            <option value="Blumenau">Blumenau</optlion>
            <option value="Joinvile">Joinvile</option>
            <option value="Curitiba">Curitiba</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="textGenero" class="form-label text-primary">Genero</label>
          <select class="form-select" name="textGenero" id="textGenero">
            <option value="M">Masculino</optlion>
            <option value="F">Feminino</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="textProfissao" class="form-label text-primary">Profissão</label>
          <input type="text" class="form-control" id="textProfissao" placeholder="Informe a Profissão">
        </div>
        <div class="mb-3">
          <label for="textRenda" class="form-label text-primary">Renda</label>
          <input type="text" class="form-control" id="textRenda" placeholder="00,00">
        </div>
        <div class="mb-3">
          <label for="textCarro" class="form-label text-primary">Tem Carro?</label>
          <select class="form-select" name="textCarro" id="textCarro">
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="textEstadoCivil" class="form-label text-primary">Estado Civil</label>
          <select class="form-select" name="textEstadoCivil" id="textEstadoCivil">
            <option value="1">Soleiro(a)</option>
            <option value="2">Casado(a)</option>
            <option value="3">Divorciado(a)</option>
            <option value="4">Viuvo(a)</option>
            <option value="5">Desquitado(a)</option>
            <option value="6">União Estável</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="textFilho" class="form-label text-primary">Tem Filho?</label>
          <select class="form-select" name="textFilho" id="textFilho">
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Cadastrar" />
        <input class="btn btn-danger" type="reset" value="Cancel" />
      </form>
</div>
{% endblock %}