{% extends 'base.html'%}

{% block titulo %}Cadastro Uf{% endblock %}

{% block body %}
<div id="content-data">
    <div style="display: flex; justify-content: center;">
        <h1 class="text-primary"><label>Cadastro Uf</label></h1>
    </div>
    <form method="post" action="">
      {% csrf_token %}
        <div class="mb-3">
            <label for="textNome" class="form-label text-primary">Nome</label>
            <input type="text" class="form-control" id="textNome" name="nome" placeholder="Informe seu Nome">
          </div>
        <div class="mb-3">
          <label for="textSigle" class="form-label text-primary">Sigla</label>
          <input type="text" class="form-control" id="textSigla" name="sigla" laceholder="Informe Sigla" required maxlength="2" minlength="2">
        </div>
        <input class="btn btn-primary" type="submit" value="Cadastrar" />
        <input class="btn btn-danger" type="reset" value="Cancel" />
      </form>
</div>
{% endblock %}