{% extends 'base.html'%}

{% block titulo %}Excluir Serviços{% endblock %}

{% block body %}
<div id="content-data">
    <div style="display: flex; justify-content: center;">
        <h1 class="text-primary"><label>Excluir Serviços</label></h1>
    </div>
    <form method="post" action="">
      {% csrf_token %}
        <div class="mb-3">
          <label for="textNome" class="form-label text-primary">Nome</label>
          <input type="text" class="form-control" id="textNome" name="nome" placeholder="Informe seu Nome" readonly value="{{ service.nome }}">
        </div>
        <div class="mb-3">
          <label for="textValor" class="form-label text-primary">Valor</label>
          <input type="text" class="form-control" id="textValor" name="valor" placeholder="R$100,00" readonly value="{{ service.valor }}">
        </div>
        <input class="btn btn-danger" type="submit" value="Excluir" />
        <input class="btn btn-primary" type="reset" value="Cancel" />
      </form>
</div>
{% endblock %}