{% extends 'base.html'%}

{% block titulo %}Excluir Cidade{% endblock %}

{% block body %}
<div id="content-data">
    <div style="display: flex; justify-content: center;">
        <h1 class="text-primary"><label>Excluir Cidade</label></h1>
    </div>
    <form method="post" action="">
      {% csrf_token %}
        <div class="mb-3">
          <label for="textNome" class="form-label text-primary">Nome</label>
          <input type="text" class="form-control" id="textNome" name="nome" placeholder="Informe seu Nome" readonly value="{{ cidade.nome }}">
        </div>
        <div class="mb-3">
          <label for="textUf" class="form-label text-primary">Sigla</label>
          <input type="text" class="form-control" id="textUf" name="uf" placeholder="SC" readonly value="{{ uf.sigla }}">
            
        </div>
        <input class="btn btn-danger" type="submit" value="Excluir" />
        <input class="btn btn-primary" type="reset" value="Cancel" />
      </form>
</div>
{% endblock %}