{% extends 'base.html' %}

{% block titulo %}Cidade{% endblock %}

{% block body %}
<div id="content-data">
    <div style="display: flex; justify-content: center;">
        <h1 class="text-primary"><label>Lista de Cidade</label></h1>
    </div>
    <div>
        <a href="cadastro-cidade"><input type="button" value="Novo" class="btn btn-primary"></a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="3"></th>
            </tr>
            <tr>
                <td><label>Nome</label></td>
                <td colspan="2" align="right"><label>Açoes</label></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td align="right">
                    <a href="altera-cidade"><input type="button" class="btn btn-warning" value="Alterar"></a>
                    <input type="button" class="btn btn-danger" value="Excluir">
                </td>
            </tr>
        </tbody>
        <tfoot>
            <td colspan="3" align="right"><label>Total de Registro: 0</label></td>
        </tfoot>
    </table>
</div>
{% endblock %}